*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
overflow-y: scroll;
font-family: $font-main;
font-size: $font-size;
}

body {
	background-color: $color-white;
	color: $color-gray;
}

h1 {
	font-size: 60px;
	letter-spacing: 5px;
	font-weight: 300;
	font-family: $font-header;
}

h2 {

}

h3 {

}

a {
	text-decoration: none;
	color: $color-white;
}

.btn {

}

.btn--light {

}